*{

background-color: rgb(1, 32, 1);



}



.Menu{
  text-align:justify;
  color: 
 
}




input{

color: black;
background-color: aliceblue;
position: relative;
left: 40%;
bottom: 20px;
border-radius: 20px;
margin-left: 30px;
padding: 10px;
}